*{
    /*outline:1px solid rgba(255,0,85,0.25);*/
    box-sizing:border-box;
}
html{
    margin:0;
    padding:0;
    background-color:#f7f7f7;
}
body{
    margin:0 auto;
    padding-top:6rem;
    width:800px;
    text-align:center;
    font: 18px/26px Comic Sans MS, Georgia, Liberation Serif, serif;
}
svg{
    width:70%;
    height:auto;
    display:block;
    margin:0 auto;
    margin-top:-1rem;
}
header{
    margin:0;
    padding:0;
}
h1{
    font-size:3rem;
    margin:0;
    font-weight:bold;
}
h1 span{
    padding:1rem;
}
h1 span:first-of-type{
    padding-left:3.5rem;
}
h1 span+span{
    padding-left:4rem;
}
footer{
    margin-top:6rem;
}
footer nav{
    padding:1rem 0;
    width:60%;
    margin:0 auto;
}
footer nav a i{
    color:#fff;
    background:#000;
    padding:0.8rem 0.8rem;
    width:4rem;
}
main{
    padding:4rem 0;
    margin-top:-12rem;
}
main a{
    padding:1.5rem 3.2rem;
    text-decoration:none;
    color:#fff;
    background:rgba(0,0,0,0.85);
    font-size:2rem;
}